{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Título</h1>
        <p>Una imagen bonita. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A sit exercitationem consequatur nostrum quaerat doloremque. Possimus, omnis! Consequatur distinctio iusto omnis, pariatur aliquam earum quia debitis quasi alias veniam non.</p>
    </div>

    <div class="col-4">
        <img src="/assets/img/Foto 1.jpg" alt="" class="img-thumbnail">
    </div>
</div>


{{> footer }}